<link href="/app.css" rel="stylesheet" />

<h1> Search Page </h1>
<form action="/results" method="GET">
				<input type="text" placeholder="Search for Movie" name="movie" >
				<input type="submit" />
</form>

