<% include common/header %>
<h1 style="text-align:center;">Hello <%= name%> Darling </h1>
<p> <h1 style="flex:1;text-align:right;" >Boss is Coming</h1></p>


<% for(let i=0;i<=9;i++) { %> 
				<li><%= i %> get added with html texts </li>
<%	}%>


<% include common/footer %>
