<% include common/header %>
				<link href="/app.css" rel="stylesheet" />
				<h1> <%= campInfo.name %> </h1>
				<div>
								<p> 
												<img src="<%= campInfo.img %>" />
								</p>
				</div>
				<h3> Des:<%= campInfo.des %> </h3>

<% include common/footer %>

